* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(./img/flowers.jpg);
  font-weight: 500;
  background-repeat: repeat;
  background-size: cover;
  background-position: top;
  font-family: 'IBM Plex Sans', sans-serif;
  overflow-x: hidden;
  color: #333;
  position: relative;
  padding: 3rem;
}

.body-container {
  display: grid;
  grid-template-columns: 60fr 40fr;
  column-gap: 1.2rem;
}

.weather-container {
  background-color: #5cad5ce6;
  padding: 2rem;
  border-radius: 12px;
  position: relative;
}

/* ==== Utilities ==== */
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flex-1 {
  flex: 1;
}

.min-width {
  min-width: 35rem;
}

.mar-left-sm {
  margin-left: 1.2rem;
}

.no-bullets {
  list-style: none;
}

.collapsed {
  height: 0 !important;
  margin-top: 0 !important;
  padding-bottom: 0 !important;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.hide {
  display: none !important;
}

/* ==== General Styles ==== */
.deg-style {
  font-size: 60%;
  vertical-align: top;
}
.deg-style-small {
  font-size: 75%;
  vertical-align: top;
}

.btn {
  display: inline-block;
  background: none;
  border: none;
  font-size: inherit;
  color: rgb(9, 12, 170);
  text-decoration: underline;
  cursor: pointer;
}

/* ==== Current Weather Information ==== */

.ph-info {
  position: absolute;
  top: 2%;
  left: 2%;
  font-size: 3.2rem;
  color: #333;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}

.page-info-container {
  z-index: 2;
  position: absolute;
  top: 1%;
  left: 4.5%;
  border-radius: 11px;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.4);
  background-color: #d6ebd6;
  display: none;
}

.ph-info:hover + .page-info-container {
  display: block;
}

.page-info-container:hover {
  display: block;
}

.page-info-list {
  display: grid;
  row-gap: 1.2rem;
  padding: 3rem;
  margin-left: 2.4rem;
}
.page-info {
  font-size: 1.6rem;
}

.external-link:link,
.external-link:visited {
  color: rgb(9, 12, 170);
  font-size: inherit;
}

/* ==== Current Day ==== */
.current-day-container {
  margin: 0 auto;
  margin-bottom: 1.6rem;
  border-radius: 12px;
  padding: 2rem;
  background-color: #d6ebd6;
  display: grid;
  grid-template-columns: 26fr 38fr 38fr;
  column-gap: 5rem;
  max-width: 126.8rem;
  min-width: 100rem;
  box-shadow: 0.1rem 0.3rem 2rem rgba(0, 0, 0, 0.15);
}

.current-location {
  font-size: 2.6rem;
}

.current-time,
.current-date {
  font-weight: 400;
  font-size: 2rem;
}

.icon-temp-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.lg-svg-icon {
  height: 11rem;
  width: 11rem;
  display: block;
  margin: auto;
}

.current-temp {
  font-size: 6.4rem;
  letter-spacing: -3px;
  text-align: center;
  align-self: center;
}

.current-description-container {
  grid-column: 1 / -1;
}

.current-description {
  font-weight: 400;
  font-size: 2.2rem;
  margin-bottom: 0.4rem;
  text-align: center;
}

.feels-like {
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
}

.current-details-container {
  justify-content: space-between;
}

.current-day {
  font-size: 2.6rem;
}

.current-details-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2.4rem;
  column-gap: 5rem;
}

.current-detail-title {
  font-size: 1.4rem;
  color: #777;
}

.current-detail {
  font-weight: 400;
  font-size: 2.2rem;
}

/* Current tips aside */
.current-tips-container {
  background-color: #5cad5ce6;
  padding: 2rem;
  border-radius: 12px;
  position: relative;
}

.current-tips-date {
  font-size: 2.6rem;
  text-align: center;
  background-color: #d6ebd6;
  padding: 0.6rem;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.current-tips-list {
  background-color: #d6ebd6;
  padding: 2rem;
  border-radius: 12px;
  gap: 2rem;
}

.current-leaf-icon {
  align-self: center;
  font-size: 2.4rem;
  color: #5cad5ce6;
}

.current-tip {
  font-weight: 400;
  font-size: 1.8rem;
}
/* ==== Slider ==== */
.slider-container-outer {
  margin-top: auto;
  margin-bottom: 0.8rem;
}

.slider-container {
  min-width: 18rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: flex-start;
}

.slider-label {
  position: relative;
  display: inline-block;
  width: 4.8rem;
  height: 2.2rem;
}

.deg-checkbox {
  z-index: 99;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 90px;
  border: 2px solid #cc5801;
  background-color: #ffc11a;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: '';
  height: 1.5rem;
  width: 1.5rem;
  left: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: white;
  transition: 0.4s;
}

.deg-checkbox:checked + .slider::before {
  transform: translateX(2.45rem) translateY(-50%);
}

.fahrenheit,
.celsius {
  font-weight: 400;
  font-size: 1.8rem;
}

/* ==== Forecast Day ==== */
.forecast-day-container {
  margin: 0 auto;
  margin-bottom: 0.4rem;
  border-radius: 12px;
  padding: 1rem 3rem 1rem 1rem;
  background-color: #d6ebd6;
  display: grid;
  grid-template-columns: 8fr 59fr 26fr 7fr;
  align-items: center;
  max-width: 126.8rem;
  box-shadow: 0.1rem 0.3rem 2rem rgba(0, 0, 0, 0.15);
}

.forecast-date {
  border-right: 1px solid #5cad5ce6;
}

.forecast-day {
  font-size: 2.4rem;
  align-self: center;
}

.forecast-day-num {
  align-self: center;
  font-size: 3rem;
}

.forecast-list {
  display: flex;
  gap: 3rem;
  padding-left: 2rem;
}

.forecast-list-item {
  gap: 0.5rem;
}

.forecast-img-icon {
  align-self: center;
  height: 2.4rem;
  width: 2.4rem;
}

.forecast-detail {
  font-size: 2rem;
  font-weight: 400;
  flex: 1;
  align-self: center;
}
.forecast-detail-high {
  font-size: 2.8rem;
  flex: 1;
  font-weight: 400;
}
.forecast-detail-low {
  font-size: 2rem;
  font-weight: 400;
  flex: 1;
  align-self: center;
}

.forecast-icon-description-container {
  width: 100%;
  justify-self: center;
  justify-content: space-between;
}
.sm-forecast-icon {
  flex: 1;
}
.sm-svg-icon {
  height: 7rem;
  width: 7rem;
  display: block;
  margin: auto;
}

.forecast-description {
  font-weight: 400;
  align-self: center;
  font-size: 2rem;
  text-align: center;
  flex: 1;
}

.checkbox-label {
  justify-self: end;
  position: relative;
  cursor: pointer;
}

.chevron {
  content: '';
  position: relative;
  background-color: #333;
  height: 2.4rem;
  width: 2.4rem;
  clip-path: polygon(50% 65%, 80% 35%, 100% 35%, 50% 85%, 0 35%, 20% 35%);
  cursor: pointer;
  transition: all 0.4s;
}

.tips-checkbox {
  position: absolute;
  opacity: 0;
}

.tips-checkbox:checked + .chevron {
  clip-path: polygon(50% 35%, 80% 65%, 100% 65%, 50% 15%, 0 65%, 20% 65%);
}

/* Forecast tips */
.forecast-tips-container {
  grid-column: 1 / -1;
  margin-top: 2rem;
  padding-bottom: 1rem;
  transition: all 0.4s;
}

.forecast-tips-inner {
  margin-left: 2rem;
  gap: 1.2rem;
  transition: all 0.4s;
}

.forecast-tip {
  display: flex;
  gap: 1rem;
}

.forecast-leaf-icon {
  align-self: center;
  font-size: 2rem;
  color: #5cad5ce6;
}

.forecast-tip-text {
  font-weight: 400;
  font-size: 1.8rem;
}

/* ==== Loader + Animation ==== */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99;
  background-color: rgb(135, 223, 169);
}

.loader-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 250px;
  width: 250px;
}

.middle-flower {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.petal {
  position: absolute;
  height: 90px;
  width: 90px;
  opacity: 1;
  animation: addColor 1.35s ease-in-out infinite;
}

.p1 {
  left: 50px;
  background-color: #cc0099;
  clip-path: ellipse(50% 16% at 50% 50%);
}

.p2 {
  transform: rotate(45deg);
  left: 39px;
  bottom: -28px;
  background-color: #990099;
  clip-path: ellipse(50% 16% at 50% 50%);
  animation-delay: -1.05s;
}

.p3 {
  left: 5px;
  bottom: -40px;
  background-color: #74018b;
  clip-path: ellipse(16% 50% at 50% 50%);
  animation-delay: -0.9s;
}

.p4 {
  transform: rotate(135deg);
  left: -28px;
  bottom: -28px;
  background-color: #0051d4;
  clip-path: ellipse(50% 16% at 50% 50%);
  animation-delay: -0.75s;
}

.p5 {
  left: -39px;
  background-color: #009900;
  clip-path: ellipse(50% 16% at 50% 50%);
  animation-delay: -0.6s;
}

.p6 {
  transform: rotate(-135deg);
  left: -28px;
  bottom: 39px;
  background-color: #66cc00;
  clip-path: ellipse(50% 16% at 50% 50%);
  animation-delay: -0.45s;
}

.p7 {
  left: 5px;
  bottom: 50px;
  background-color: #ff9900;
  clip-path: ellipse(16% 50% at 50% 50%);
  animation-delay: -0.3s;
}

.p8 {
  transform: rotate(-45deg);
  left: 39px;
  bottom: 39px;
  background-color: #ff0000;
  clip-path: ellipse(50% 16% at 50% 50%);
  animation-delay: -0.15s;
}
@keyframes addColor {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.center-flower {
  height: 53px;
  width: 53px;
  background-color: #ffdc4e;
  border: 1px solid #111;
  border-radius: 50%;
  z-index: 5;
  animation: fade 3s ease-in-out infinite;
}

@keyframes fade {
  0% {
    background-color: #ffdc4e;
  }
  50% {
    background-color: #f8b729;
  }

  100% {
    background-color: #ffdc4e;
  }
}
